body {
    background-color: yellow;
    font-size: 27!important;
    text-transform: uppercase;
}

h1 ,h2, h3 {
    color: green;
}
h4 {
    color: violet;
}
p {
    transform: rotate(33deg);
}

li:nth-child(odd) {
    transform: rotate(-11deg);
}

li:nth-child(even) {
    transform: rotate(10deg);
}

img {
    width: 40%;
    height: 10px;
}